ion-header {
  align-content: center;
  justify-content: center;
}

.ptitle {
  text-align: center;
  min-height: 120px;
  font-size: 3.5rem;
  letter-spacing: 0.5em;
}

.main-message {
  text-align: center;
  font-size: 3rem;
}

.about-valkia {
  text-align: center;
  font-size: 2rem;
  padding-top: 120px;
}
