<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ptitle">
      bonfire☕
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1 class="main-message">
      Bem vindo à Valkia, guerreiro.
    </h1>
    <p class="about-valkia">
      Aqui, você terá do maior conforto que se pode conceber!
      Aproveite a estadia....
    </p>

    <p></p>
  </ion-content>
</ion-content>

